{% extends "base.html" %}

{% block content %}
    <!--9:3布局比例-->
    <div class="container-fluid">
        <div class="row-fluid">
        <!--正文-->
            <div class="col-lg-8 col-md-8 col-xs-12 blog-main">
{#TODO:加上显示文章标题的功能#}
                <article class="blog-post">
                    <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item">wwww</li>
                    <p>shshshh</p>
                    </ul>
{#        <!--注意此处，不能使用showArticle.html，并不是因为路径问题，而是#}
{#        iframe中内嵌网页，而在flask中，会变成IP:端口/showArticle,也就是访问地址#}
{#        需要在视图函数中先注册这个地址，#}
{#        因为我们此处没有使用反向代理，静态网页也是通过flask的程序处理返回的#}
{#        也就是视图函数处理返回的-->#}
{#        <iframe src="showArticle" width="100%" height="400"#}
{#               frameborder="0">#}
{#            oh,the page fly away!#}
{#        </iframe>#}
                </article>
            </div>
            <!--文章列表-->
            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>相关</h4>
                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>
                <div class="sidebar-module">
                    <h4>Archives</h4>
                    <ol class="list-unstyled">
                      <li><a href="#">March 2014</a></li>
                      <li><a href="#">February 2014</a></li>
                      <li><a href="#">January 2014</a></li>
                      <li><a href="#">December 2013</a></li>
                      <li><a href="#">November 2013</a></li>
                      <li><a href="#">October 2013</a></li>
                      <li><a href="#">September 2013</a></li>
                      <li><a href="#">August 2013</a></li>
                      <li><a href="#">July 2013</a></li>
                      <li><a href="#">June 2013</a></li>
                      <li><a href="#">May 2013</a></li>
                      <li><a href="#">April 2013</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}