<!DOCTYPE html>
    <!--
	DylanBlog
	started at 2016/10
    -->
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Avalon</title>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!--ckeditor base js-->
    <script src="../static/ckeditor/ckeditor.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background-color: gainsboro">
    <!--导航条-->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Dylan's Home</a>
        </div>
        <!--TODO:添加导航按钮的链接网址-->
          <!--此处同理，没有使用反向代理nginx，点击的地址对应的静态页面，
          也是通过flask程序返回的，需要在视图函数中注册地址，href中填入视图函数注册的地址-->
          <ul class="nav navbar-nav navbar-right">
              <li><a href="home">home</a> </li>
              <li><a href="project">project</a></li>
              <li><a href="article">article</a></li>
          </ul>
      </div><!-- /.container-fluid -->
    </nav>

    {% block content %}

    <!--ckeditor-->
        <div class="container-fluid">
            <div class="row">
            <form action="/articleUpload" class="col-lg-8 col-md-8" method="post">
            <textarea name="editor1" id="editor1" rows="1 cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using the custom config
                // 由于ckeditor自动连接它的js文件，因此路径在/ckeditor路径下
                // 我们在此处把ckeditor编辑器赋给一个变量editor，方便后面操作ckeditor编辑器实例
                var editor=CKEDITOR.replace( 'editor1',{customConfig: 'article-config.js'});
                function submitit()
                    {
                        var head="<head>"+editor.document.getHead().getHtml()+"</head>";
                        var body="<body>"+editor.document.getBody().getHtml()+"</body>";
                        var oldcontent = CKEDITOR.instances.editor.getData();
                        if (oldcontent == ''){
                            alert('请输入文章内容');
                            return false;
                            //return false 停止提交表单
                        }
                        var newcontent = "<html>"+head+body+"</html>";
                        CKEDITOR.instances.editor.setData(newcontent);
                        return true;
                        //return true 也就是让按钮继续完成工作，因为按钮type=submit，因此会继续，提交表单内容
                        //表单的提交，关键就是type=submit，这个类型，就会被认作提交功能
                    }
            </script>
            <br>
            <input title="-_-" class="btn btn-primary btn-large" type="submit" onclick="submitit()" value="提交文章">
            </form>
            </div>
        </div>
    {% endblock %}
    <!--footer-->
    <footer>
        <div id="footer">
            <p class="modal-footer">&copy;Dylan's Blog.Code:python</p>
        </div>
    </footer>
  </body>
</html>